<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".WarehousePutaway"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehousePutaway"
        tools:targetApi="31">

        <!--
            禁用 WorkManager 默认自动初始化。
            WorkManager 将使用 WarehousePutaway
            中提供的 Configuration，
            从而使用 HiltWorkerFactory。
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />

        </provider>

        <!-- 主界面 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.WarehousePutaway">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- PDA 条码扫描广播 -->
        <receiver
            android:name=".scanner.ScanReceiver"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.ACTION_DECODE_DATA" />

            </intent-filter>

        </receiver>

    </application>

</manifest>